
@{
    ViewBag.Title = "Edit";
}
<h3>Edit Product</h3>
<form method="post" action="post/" id="editP">
    <h3 id="action"></h3>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" id="nameInputEdit" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" type="text" id="priceInputEdit" />
    </div>

    <div class="form-group">
        <label>Product Category</label>
        <select class="form-control" id="pcInput1"></select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" id="buttonCreateUpdateEdit">Edit</button>
    </div>
</form>
