
@{
    ViewBag.Title = "EditPC";
}
<h3>Edit Product</h3>
<form method="post" action="post/" id="editPC">
    <h3 id="action"></h3>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" id="nameInputEditPC" />
    </div>
   
    <div class="form-group">
        <button type="submit" class="btn btn-default" id="buttonCreateUpdateEditPC">Edit</button>
    </div>
</form>