
@section Scripts {
    @Scripts.Render("~/Scripts/novaSkripta.js")
}
@{
    ViewBag.Title = "Tabela";
}



<div id="productsTable">
    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-md" id="buttonCreate">CreateProduct</button>
    </div>
    <h3>Products</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Product category</th>
        </tr>
        <tbody id="podaci"></tbody>
    </table>
</div>

